# Michal Ciesielski 2021
# Configuration file for RFID Reader module.


menu "RFID Reader component"
    config RFID_READER
        bool "Enable RFID Reader module"
        default y
        help
            Toggle RFID Reader module

if RFID_READER

    choice RFID_READER_DRIVER
        prompt "RFID reader driver"
        default RC522
        config RC522
            bool "RC522 based reader"
            help
                Choose RFID reader type
        config PN532
            bool "PN532 based reader"
            help
                Choose RFID reader type
    endchoice

endif # RFID_READER
endmenu
